# Head = T12, where 1 is yoke, and 2 is head in that yoke
# Unsolicited temperature (mulit-head) ">RT :T11 24 0 0 0 :T12 26 0 0 0 :T13 29 0 0 0"
# Slave Temperature channels after lowest Yoke,Head combo
record (ai, "$(Sys)$(Dev)T$(Yoke)$(Head):T-RB") {
  field(EGU,  "C")
  field(PREC, "0")    
}